In [2]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [4]:
full_labels = pd.read_csv('neuromast.csv')

In [6]:
full_labels.head()

                 filename  width  height class  xmin  ymin  xmax  ymax
0  movie1_t103_z-1781.png    256      64    nm    80    27    88    34
1  movie1_t103_z-1781.png    256      64    nm   104    28   112    35
2  movie1_t103_z-1781.png    256      64    nm   122    29   133    38
3  movie1_t103_z-1781.png    256      64    nm   163    28   174    37
4  movie1_t103_z-1782.png    256      64    nm    79    27    87    35

In [7]:
grouped = full_labels.groupby('filename')

In [8]:
grouped.apply(lambda x: len(x)).value_counts()

2    171
1    166
3     89
4     48
dtype: int64

In [9]:
gb = full_labels.groupby('filename')

In [10]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [11]:
len(grouped_list)

474

In [14]:
train_index = np.random.choice(len(grouped_list), size=380, replace=False)
test_index = np.setdiff1d(list(range(474)), train_index)

In [15]:
len(train_index), len(test_index)

(380, 94)

In [16]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [17]:
len(train), len(test)

(781, 186)

In [18]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)